

body {
  margin:0px;
  padding:0px;
}

.container{
    display: grid;
    grid-template-rows: auto 2fr 8fr 3fr;
    grid-gap: 1em;
    height: 100%;
}

.main{
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(20px,auto);
    margin-left: 7em;
    margin-right: 7em;
}
.main > div{
    background: white;
}


.overview{
    grid-column:1;
    grid-row: 1/2;
    text-align: justify;
}


.backimg{
    grid-column:1/3;
    grid-row: 2/4;
}
.backimg .uploadbg{
    /*visibility: hidden;*/
    background-color:#ee5253;
    text-align: center;
    color: white;
    padding: 4px;
}
/*.backimg:hover .uploadbg{
    visibility: visible;
}*/


.sideprof,.social,.contact{
    grid-column: 1;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 15px;
    align-content: center;
    border: 1px solid gray;
}
.sideprof{
    grid-row:3/6;
}
.social{
    grid-row:6/7;
}
.contact{
    grid-row:7/8;
}
.sideprof img{
    max-height: 112px;
    max-width: 112px;
    border: 1px dotted gray;
}
.sideprof .upload,.cam{
    text-align: center;
    padding: 4px;
}
.sideprof ul{
    list-style-type: none;
    padding: 4px;
}
.sideprof .value{
    float:right;
}
.sideprof .sidebutn{
    width: 90%;
    margin: 10px;
}

.nav{
    grid-column: 2;
    grid-row: 3;
    border-bottom: 1px solid gray;
}
.nav >div{
    float:left;
    margin: 1em;
    margin-top:0px;
    margin-bottom: 0px;
    padding: 10px;;
}
.nav a{
    text-decoration: none;
    color: gray;
}
.nav a:active{
    color:black;
}
.nav a:hover{
    color:black;
    text-decoration:underline #ee5253;
}

.summary{
    grid-column: 2;
    grid-row: 4/9;
}
.b1{
    background-color: #ee5253;
    color: white;
    border:2px solid #ee5253;
    padding: 10px;
    margin-left: 10px;
}
.b1:hover{
    background-color: #ff6f6f;
}
